{% extends "board/base.html" %}

{% block title %} - list{% endblock %}

{% block body %}
    <a href="{% url 'board:new' %}"><input type="submit" value="create"></a>
    <table>
        <tr>
            <td>ID</td>
            <td>Title</td>
        </tr>
        {% for article in articles %}
        <tr>
            <td>
                {{ article.id }}
            </td>
            <td>
                <a href="{% url 'board:detail' article.id %}">{{ article.title }}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}